:root {
	--navbar-height: 6rem;
	--hero-height: 25rem;
	--card-height: 25rem;

	--box-shadow-1: 0 0 1rem rgb(0 0 0 / 0.2);
	--box-shadow-2: 1rem 1rem 0.5rem rgb(0 0 0 / 0.1);
	--box-shadow-3: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 0.2);
	--box-shadow-4: 0 0 1rem rgb(0 0 0 / 0.1);

	--margin-block: 4rem;
	--margin-inline: 10rem;

	--form-bg:#D3D8E1;
	--form-height:45rem;
	--form-width:40rem;
	--form-margin: 1.6rem 0 0 40rem;

	--padding-block: 2rem;
	--padding-inline: 2rem;

	--border-radius: 1rem;

	--fz-h1: 2.5rem;
	--fz-h2: 2rem;
	--fz-h3: 1.5rem;
	--fz-p: 1.1rem;

	--fw-h1: 900;
	--fw-h2: 700;
	--fw-h3: 400;
	--fw-p: 300;
}

#root.light {
	--header-footer-bg: #3681e4;
	--searchbar-bg: white;
	--primary-bg: #deecff;
	--secondary-bg: #a3bada;
	--card-bg: #e4f7fd;
	--btn-bg: var(--header-footer-bg);
	--btn-inverted-bg: var(--primary-bg);
	--btn-inverted-clr: #3681e4;
	--text-clr-1: #222b37;
	--text-clr-2: white;
}

#root.dark {
	--header-footer-bg: #093b7d;
	--searchbar-bg: #b09c9c;
	--primary-bg: #181818;
	--secondary-bg: #1a2038;
	--card-bg: #e4f7fd;
	--btn-bg: var(--header-footer-bg);
	--btn-inverted-bg: var(--primary-bg);
	--btn-inverted-clr: #3681e4;
	--text-clr-1: white;
	--text-clr-2: white;
}
